.white {
  background-color: rgb(221, 235, 248);
  color: rgb(10, 53, 94);
  padding: 0% 5% 2% 5%;
}

.blue {
  background-color: rgb(10, 53, 94);
  color: rgb(221, 235, 248);
  padding: 0% 5% 2% 5%;
}
